main {
    background-color: blue;
}

#content {
    padding-top: .5em;
    margin: 0 auto;
    width: 70%;
    text-align: center;
}

#content img {
    margin: 0 auto;
    max-width: 100%;
    display: block;
}

.comments {
    border: 1px salmon solid;
    display: inline-block;
    left: -9.33em;
    text-align: left;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1em;
}

footer {
    text-align: center;
    background-color: red;
    display: block;
}